body {
margin: 0;
}

header {
    margin-left: 0px;
align-content: center;
padding: 67px 0;

background-color: #f1634f;

}

header >h1 {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 50px;
  font-weight: 100px;
  margin: 0 0 40px 0;
}

li> a {
    color: white;
    font-weight: 500;
    font-size: 18px;
  }

header > ul {
      text-align: center;
      margin: 0 15px;
      list-style: none;
  }

header > ul > li {
  display: inline;
}
