body {
margin: 0;
color: rgb(3, 18, 28);
background-color: rgb(92, 173, 150);
}

header {
    margin-left: 0px;
align-content: center;
padding: 67px 0;

background-color: #f1634f;

}

header h1 {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 50px;
  font-weight: 100px;
  margin: 0 0 40px 0;
}

header li> a {
    margin: 10px;
    color: white;
    background-color: rgb(5, 10, 18);
    font-weight: 500;
    font-size: 18px;
  }

header ul {
      text-align: center;
      margin: 0 15px;
      list-style: none;
  }

header ul > li {
  display: inline;
  margin: 5px;
}

h3 > {
  background-color: rgb(212, 25, 42);
}

#about-me {
  margin: 0 10px 60px 10px;
}
#about-me > h3 {
  margin: 10px 0 10px 0
}
